* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  
}
a{
  color: #333;
  font-family: "Manrope";
  text-decoration: none;
}

a:hover{
  color: $color;
}
body{
  background-color:#F7F6FF;
}

h1{
  color:$colorp;
font-family: "Manrope";
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 48px; /* 126.316% */
text-transform: uppercase;
}


.container {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

button{
  transform: 3s;
  border: none;
}

.container-small{
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 0px;
}